@font-face {
  font-family: "Bebas Neue";
  src: url("./BebasNeue-Regular.ttf") format("truetype");
}

#byxruz-logo {
  font-family: "Bebas Neue", sans-serif;
  font-weight: normal;
  font-style: normal;
}
