 
@import "tailwindcss";

@import "tailwindcss-animated";

@theme {
  --color-custom-blue: #103898;
  --color-custom-blue-light: #103898a1;
  --color-custom-dark: #101010; 
  
}

body {
  background-color: #101010;
  
 
 
}

a, button {
  @apply transition-all active:scale-98    duration-300;
}


 